@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
  }

  body {
    background-color: theme('colors.neutral.50');
    color: theme('colors.neutral.900');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

